html, body {
    font-family: hurme_no2-webfont,-apple-system,BlinkMacSystemFont,sans-serif;
    background-color: #f5f4f6;
    height: 100%;
}

input {
    box-sizing: border-box;
}

input[type="text"] {
    box-sizing: border-box;
    height: 30px;
    border-bottom: 2px solid black;
    transition: 0.1s;
}

input[type="text"]:hover {
    box-sizing: border-box;
    height: 30px;
    border-bottom: 3px solid gold;
}

.inactive {
    cursor: not-allowed;
}

main {
    height:100%;
}