.header {
    background-color: #4256b1;
    height: 66px;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 10pt;
}

.header-buttons {
    padding-right:100px;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 9pt;
}

#signup {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #3BCFCF;
    transition: background-color 0.25s;
}

#signup:hover {
    background-color: #28a7a7;
}

#logout {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: goldenrod;
    color: black;
    transition: background-color 0.25s;}

#logout:hover {
    background-color: darkgoldenrod;
    }


.header-buttons > button {
    padding: 15px;
    
}


.header-nav-logo {
    font-size: 18pt;
    font-weight: bold;
    padding: 0px 40px;
}

.header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 

}

.header-nav-list > li {
    padding: 0px 20px;
}