.header {
    background-color: #4256b1;
    height: 80px;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 11pt;
    padding-left: 15%;
}

.header-buttons {
    padding-right:15%;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 10pt;
}

.header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 60%; */
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 500px;
    font-size: 12pt;
    font-weight: 200;
}

.search-bar-input {
    width: 400px;
    border: none !important;
    text-decoration: none;
}

.search-bar-input:hover {
    border: none;
    text-decoration: none;
}

.search-bar-input:focus {
    border: none;
    text-decoration: none;
}

.search-bar-input::placeholder {
    color: lightsteelblue;
    font-size: 12pt;
    font-weight: 200;
}

#signup {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #3BCFCF;
    transition: background-color 0.25s;
}

#signup:hover {
    background-color: #28a7a7;
}

#demo {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: goldenrod;
    color: black;
    transition: background-color 0.25s;}

#demo:hover {
    background-color: darkgoldenrod;
    }

.goldbutton {
    box-sizing: border-box;
    display: flex;
    align-content: center;
    border-radius: 5px;
    height:35px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: goldenrod;
    color: black;
    text-align: center;
    transition: background-color 0.25s;}

.goldbutton:hover {
    background-color: darkgoldenrod;
    color:black;
    }


.header-buttons > button {
    padding: 15px;
    margin: 10px;
    
}

.header-buttons > button:hover {
    color:lightsteelblue;
}


.header-nav-logo {
    font-size: 18pt;
    font-weight: bold;
    padding: 0px 40px 0px 0px;
}

.header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 

}

.header-nav-list a {
    transition: 0.1s;
}

.header-nav-list a:hover {
    color: lightsteelblue;
}

.header-nav-list > li {
    padding: 0px 20px;
}