.login-invisible {
    display:none;
}

.login-visible {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
   
}

.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5%;
    padding:10px;
    height: 90%;
    width: 600px;
    margin: auto;
    background-color: white;
}


.form-container > form {  
    display: flex;
    flex-direction: column;
    align-items: center;
}

 
/* .login-visible > form {  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5%;
    left: 30%;
    padding:10px;
    height: 90%;
    width: 40%;
    background-color: white;

} */

#approved-border {
    border: 2px solid green;
    transition: 0.1s;
}

#error-border {
    border: 2px solid red;
    transition: 0.1s;
}

#approved-text {
    color: green;
    transition: 0.1s;
}

#error-text {
    color:red;
    transition: 0.1s;
}

.approved-border {
    border: 2px solid green;
    transition: 0.1s;
}

.error-border {
    border: 2px solid red;
    transition: 0.1s;
}

.approved-text {
    color: green;
    transition: 0.1s;
}

.error-text {
    color:red;
    transition: 0.1s;
}

.form-container input::placeholder {
    color: silver;
}

.form-container p {
    display: block;
    width: 530px;
    align-self: left;
    font-size: 12px;
    color: #939bb4;
}

.form-container input[type="text"],
input[type="email"],
input[type="password"] {  
    display:block;  
    background-color: white;
    width:530px;
    height:50px;
    padding: 15px;
    border-radius: 5px;
    font-size: 14pt;
    border: 2px solid black;
    margin: 15px 0px;
}

.form-container select {
    color:turquoise;
    background-color: white;
    height:50px;
    border-radius: 5px;
    font-size: 14pt;
    border: 2px solid black;
    margin: 15px 0px;
}

.form-container td {
    padding: 0px 10px 0px 0px;
}

.form-container table {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.form-container select:hover {
    color:gold;
}

.form-container input[type="text"]:focus, 
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {  
    border: 2px solid gold;
}

.form-container input[type="text"]:hover, 
input[type="email"]:hover,
input[type="password"]:hover,
select {  
    border: 2px solid gold;
}


