.login-invisible {
    display:none;
}

.login-visible {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
   
}

.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5%;
    padding:10px;
    height: 90%;
    width: 600px;
    margin: auto;
    background-color: white;
}


.form-container > form {  
    display: flex;
    flex-direction: column;
    align-items: center;
}

 
/* .login-visible > form {  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5%;
    left: 30%;
    padding:10px;
    height: 90%;
    width: 40%;
    background-color: white;

} */

#approved-border {
    border: 2px solid green;
    transition: 0.1s;
}

#error-border {
    border: 2px solid red;
    transition: 0.1s;
}

#approved-text {
    color: green;
    transition: 0.1s;
}

#error-text {
    color:red;
    transition: 0.1s;
}

.approved-border {
    border: 2px solid green;
    transition: 0.1s;
}

.error-border {
    border: 2px solid red;
    transition: 0.1s;
}

.approved-text {
    color: green;
    transition: 0.1s;
}

.error-text {
    color:red;
    transition: 0.1s;
}

.form-container input::placeholder {
    color: silver;
}

.form-container p {
    display: block;
    width: 530px;
    align-self: left;
    font-size: 12px;
    color: #939bb4;
}

.form-container input[type="text"],
input[type="email"],
input[type="password"] {  
    display:block;  
    background-color: white;
    width:530px;
    height:50px;
    padding: 15px;
    border-radius: 5px;
    font-size: 14pt;
    border: 2px solid black;
    margin: 15px 0px;
}

.form-container select {
    color:turquoise;
    background-color: white;
    height:50px;
    border-radius: 5px;
    font-size: 14pt;
    border: 2px solid black;
    margin: 15px 0px;
}

.form-container td {
    padding: 0px 10px 0px 0px;
}

.form-container table {
    width: 530px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.form-header {
    width:530px;
}

#high {
    height:50px;
}

.separator {
    text-align: center;
    width: 150px;
    font-size: 10pt;
    color: #939bb4;
}

hr.solid {
    width: 170px;
    border-top: 3px solid #c2c6d4;
  }

.form-container select:hover {
    color:gold;
}

.form-container input[type="text"]:focus, 
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {  
    border: 2px solid gold;
}

.form-container input[type="text"]:hover, 
input[type="email"]:hover,
input[type="password"]:hover,
select {  
    border: 2px solid gold;
}

.form-container button {
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    margin: 10px;
    width:530px;
    font-size: 10pt;
    border-radius: 5px;
    background-color:#3ccece;
    color:#fefefe;
    transition: 0.1s;

}

.form-container button:disabled{
    background-color: #c2c6d4;
    cursor: not-allowed;

}

#close-container {
    display:block;
    width: 530px;
    
}



#close-button {
    font-size:12pt;
    color: #c2c6d4;
    position: absolute;
    right: 0px;
    width: 35px;
    height: 35px;
    background-color:#fefefe;
}

#close-button:hover {
    color: gold;
}

.form-container a {
    color:turquoise;
}

.form-container a:hover {
    color:gold;
}

.disclaimer {
    color: black;
    font-size: 11pt;
}

.lastbox {
    box-sizing: border-box;
    width:530px;
    height:50px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #c2c6d4;
    display: flex;
    color: black;
    font-weight: bold;
    font-size: 11pt;
    justify-content: center;
}

.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5%;
    padding: 0px;
    height: 90%;
    width: 600px;
    margin: auto;
    background-color: white;
}


.login-form > form {  
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-form input::placeholder {
    color: silver;
}

.login-form input[type="text"],input[type="password"] {  
    display:block;  
    background-color: white;
    width:530px;
    height:50px;
    padding: 0px;
    font-size: 14pt;
    box-sizing: border-box;
    border-radius: 0;
    border-bottom: 2px solid black;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    transition: 0.1s;
    margin: 15px 0px;
}



.login-form input[type="text"]:focus,input[type="password"]:focus {
    box-sizing: border-box;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid gold;
}

.login-form input[type="text"]:hover,input[type="password"]:hover {
    box-sizing: border-box;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid gold;
}

.login-form p {
    display: block;
    width: 530px;
    align-self: left;
    font-size: 12px;
    color: #939bb4;
}

.login-top {
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width:600px;
    padding:30px;
    background-color: #4256B1;
    color: white;
    align-items: center;
}

.login-top h1 {
    font-size:24pt;
}

.login-top button {
    border: 2px solid #3b4c9a;
    border-radius: 16px;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: baseline;
}

.login-top button:hover {
    background-color: #3b4c9a;;
}

#red-text {
    color:red;
    transition: 0.1s;
}

#red-border {
    border-bottom: 2px solid red;
    transition: 0.1s;
}

.login-form > form > button {
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    margin: 10px;
    width:530px;
    font-size: 10pt;
    border-radius: 5px;
    background-color:#3ccece;
    color: white;
    transition: 0.1s;
}

.login-form > form > button:hover {
    background-color: #28a7a7;;
}