.login-invisible {
    display:none;
}

.login-visible {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
   
}

.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5%;
    left: 30%;
    padding:10px;
    height: 90%;
    width: 40%;
    background-color: white;
}


.form-container > form {  
    display: flex;
    flex-direction: column;
    align-items: center;
}

 
/* .login-visible > form {  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5%;
    left: 30%;
    padding:10px;
    height: 90%;
    width: 40%;
    background-color: white;

} */

.form-container input[type="text"] {  
    display:block;
    background-color: #f5f4f6;
}

.form-container input[type="password"] { 
    display:block; 
    background-color: #f5f4f6;
}

.form-container input[type="email"] { 
    display:block; 
    background-color: #f5f4f6;
}
